extends template.pug

block head     
    title Booklist
block content
    br 
    p Please provide the following information:
    form(action="/purchase" method = "post")
        table(border = "0")
            tbody
                tr
                    td Name:
                    td
                        input(name="Name" size = "30" maxlength="50" type ="text")
                tr
                    td Quantity
                    td 
                        input(name="Quantity" size = "4" maxlength="12" type="text")
                tr
                    td Books
                    td
                        select(size=books.length name="bookselection" multiple="multiple")
                            each book in books
                                option(value=book.name)= book.name
        br
        input(name="SUBMIT" type="submit")
        br
        a(href="http://localhost:8000/landing")
    
        